<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="partitionwizard" /> <!-- runs instantly, shows windows and opens browser -->
  <package id="sharex" /> <!-- runs instantly and shows windows -->
  <!-- <package id="virtualbox" /> OUTDATED! also logs a lot of red text but installs fine -->
  <package id="hidhide" /> <!-- shows update nags. disable task in scheduler -->
  <!-- <package id="rabbitmq" /> runs instantly and triggers firewall propmts. disabled because not required for system init -->
  <!-- <package id="nirlauncher" /> TODO: add install parameter "/sysinternals" when choco supports it. disabled because package triggers Defender -->
  <package id="equalizerapo" />  <!-- runs instantly and blocks installation process -->
</packages>
