<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="audacity" />
  <package id="cpu-z" />
  <package id="directx" />
  <package id="doublecmd" />
  <package id="ffmpeg" />
  <package id="FiraCode" />
  <package id="git" />
  <package id="gpu-z" />
  <package id="hxd" />
  <package id="iperf3" />
  <package id="libreoffice-fresh" />
  <package id="meld" />
  <package id="mpc-hc" />
  <package id="nerdfont-hack" />
  <package id="notepadplusplus" />
  <package id="postman" />
  <package id="procexp" />
  <package id="putty" />
  <package id="python" />
  <package id="qbittorrent" />
  <package id="rsync" />
  <package id="sumatrapdf" />
  <package id="vcredist-all" />
  <package id="visualstudio-installer" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="windirstat" />
  <package id="winmtr-redux" />
  <package id="wireshark" />
  <package id="xnviewmp" />
  <package id="youtube-dl" />
  <package id="crystaldiskinfo" />
  <package id="furmark" />
  <package id="hwinfo" />
  <package id="obs-studio" />
  <package id="paint.net" />
  <package id="aimp" />
  <package id="anydesk" />
  <package id="filezilla" />
  <package id="hidhide" />
  <package id="winscp" />
  <package id="ds4windows" />
  <package id="occt" />
  <package id="sysinternals" />
  <package id="gitextensions" />
  <package id="kdiff3" />
  <package id="inkscape" />
  <package id="dual-monitor-tools" />
</packages>
